@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
html{
  cursor: url(../Resources/giphy.gif),default;
}
body{
  cursor: url(../Resources/giphy.gif),default;
  background-image: url("../Resources/Fondo.png");
  background-size: cover;

}
footer{
  background-color: rgba(193, 213, 244, 0.5);
  height: 12vh;
}
.nombreIntegrantes{
  position: relative;
  padding-bottom: 1%;
}
#pelispref{
  display: none;
}
.nombres {
  font-family: Roboto Slab;
  font-size: small;
  color: #faac18;
  text-align: right;
  position: absolute;
  left: 81%;
  top: 3vh;
}
.tmdblogo{
  width: 5%;
    position: absolute;
    left: 92%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.nav-brand{
  width: 200px;
margin-right: 0px;
height: 90px;
padding-top: 0px;
padding-bottom: 0px;
}
.loguito{
  width: 100%;
}
#navbar{
padding-bottom: 0px;
padding-top: 0px;
}

.navbar-brand{
  width: 111px;
margin-right: 17px;
}
video{
  width: 45%;
}

.titulos{
  font-family: Poppins;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bold;
  padding-top: 22px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.genero{
  font-family: Roboto Slab;
  color: #faac18;
  font-size: 20px;
  font-weight: bold;
  background-color: #030226;
  width: 43%;
  border-radius: 15px;

}

.lenguajes h2{
  font-family: Poppins;
  font-weight: normal;
  color: white;
  font-size: 25px;
  padding-top: 20px;
  background-color: #030226;
  width: 28%;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 15px;
  margin-top: 2%;
}

section{
  padding-left: 10px;
}

.sinopsis h2{
  font-family: Poppins;
  font-weight: normal;
  color: white;
  font-size: 25px;
  background-color: #030226;
  margin-top: 3%;
  width: 8%;
  padding-top: 2px;
  padding-bottom: 4px;
  border-radius: 15px;
}

.posterPelicula {
  position: relative;
}

.posterPelicula img {
  float: right;
  width: 22%;
  position: absolute;
  top: 5%;
  left: 72%;
  margin-top: 2%;
}

.lenguajes ul {
  border-left: 7px solid #cf181f;
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 10px 20px;
  width: 13%;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;

}
.sinopsis p{
  text-align: justify;
}

.detalles ul {
  border-left: 7px solid #cf181f;
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 10px 20px;
  width: 9%;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}
.sinopsis p{
  border-left: 7px solid #cf181f;
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 10px 20px;
  width: 60%;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}

.fechaEstreno h2{
  font-family: Poppins;
  font-weight: normal;
  color: white;
  font-size: 25px;
  background-color: #030226;
  margin-top: 3%;
  width: 36%;
  padding-top: 2px;
  border-radius: 15px;

}

.boton{
  margin-bottom: 0%;
}

.boton div{
  width: 2%;
}
